{#
/**
 * @file
 * Template for the Insta feed.
 *
 * Available variables:
 * - media_url: The media url.
 * - permalink: The media's permanent URL.
 *
 * @ingroup themeable
 */
#}
{% if label %}
	<h2{{ tite_attributes.addClass('block-title') }}>{{ label }}</h2>
{% endif %}

<div class="ig-container">
  {% set itemsPerRow = images_per_row %}
  {% for post in posts %}
    {% if loop.index0 % itemsPerRow == 0 %}
      <div class="ig-row">
    {% endif %}
    <div class="ig-media">
      {% if post.media_type == 'VIDEO' %}
        <a target="_blank" href="{{ post.permalink }}">
          <video src="{{ post.media_url }}" width="100%"></video>
        </a>
      {% else %}
        <a target="_blank" href="{{ post.permalink }}"><img src="{{ post.media_url }}"></a>
      {% endif %}
      {% if caption_option == 'trimmed' %}
        {% set trimmedCaption = post.caption|slice(0, trimmed_limit) %}
        <p class="caption">{{ trimmedCaption ~ '...' }}</p>
      {% else %}
        <p class="caption">{{ post.caption }}</p>
      {% endif %}
    </div>
    {% if loop.index % itemsPerRow == 0 or loop.last %}
      </div>
    {% endif %}
  {% endfor %}
</div>




